In [1]:
 import pandas as pd

In [41]:
man_df = pd.read_csv('data/ANSUR_II_MALE.csv', encoding='cp1252', sep=';')
man_df["sex"] = 1

In [47]:
woman_df = pd.read_csv('data/ANSUR_II_FEMALE.csv', encoding='cp1252', sep=';')
woman_df["sex"] = 0

In [43]:
print(man_df.shape)
print(woman_df.shape)

(4082, 109)
(1986, 109)

In [48]:
ansur_df = pd.concat([man_df, woman_df], ignore_index=True)

## Cleaned data

In [27]:
cleaned_ansur = pd.DataFrame()
cleaned_ansur["taille"] = ansur_df["stature"]/10

In [31]:
cleaned_ansur["age"] = ansur_df["Age"]

In [39]:
cleaned_ansur["weight"] = ansur_df["Weightlbs"]*0.453592

In [50]:
cleaned_ansur["sex"] = ansur_df["sex"]

In [51]:
cleaned_ansur.describe()

            taille          age       weight          sex
count  6068.000000  6068.000000  6068.000000  6068.000000
mean    171.440606    29.761206    79.265052     0.672709
std       9.001534     8.674650    15.282400     0.469263
min     140.900000    17.000000     0.000000     0.000000
25%     165.175000    23.000000    68.038800     0.000000
50%     171.900000    28.000000    78.471416     1.000000
75%     177.900000    36.000000    88.904032     1.000000
max     199.300000    58.000000   145.603032     1.000000