In [96]:
import pandas as pd

In [126]:
man_df = pd.read_csv('data/Body Measurements _ original_CSV.csv', encoding='cp1252', sep=';')

In [127]:
man_df.columns

Index(['Gender', 'Age', 'HeadCircumference', 'ShoulderWidth', 'ChestWidth ',
       'Belly ', 'Waist ', 'Hips ', 'ArmLength ', 'ShoulderToWaist ',
       'WaistToKnee ', 'LegLength', 'TotalHeight'],
      dtype='object')

In [114]:
man_df.describe()

,Weight,Body Shape Index,Waist,Hips,Bust/Chest,Height
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,71.032300,1.701900,101.346014,90.989630,106.305063,182.044474
std,15.241731,1.481636,15.431711,17.010835,14.412298,14.897875
min,42.000000,0.000000,66.040000,66.040000,76.200000,147.320000
25%,61.000000,0.000000,88.660000,75.270000,96.277500,171.600000
50%,72.000000,1.000000,104.110000,91.640000,106.530000,187.550000
75%,82.000000,3.000000,114.540000,105.390000,117.892500,193.902500
max,117.000000,4.000000,121.920000,127.000000,132.080000,198.120000

In [115]:
man_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            20000 non-null  object
 1   Weight            20000 non-null  int64
 2   Body Shape Index  20000 non-null  int64
 3   Waist             20000 non-null  float64
 4   Hips              20000 non-null  float64
 5   Bust/Chest        20000 non-null  float64
 6   Height            20000 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 1.1+ MB